.feed-posts{
  list-style: none;
  width: 600px;
  text-align: center;
}
.feed-posts li{
  text-align: left;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #f442df;
  border: 2px solid purple;
  border-radius: 5px;
}
